body {
  background-image: url(https://media.giphy.com/media/t7qcShsBIsP1S/giphy.gif);
  background-size: 100%;
}

 h1 {
  font-family: cursive;
  /* padding: 50px; */
  z-index: 1;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 8rem;
  margin-top: -10%;
  /* padding-left: 200px; */
 }

/* .meme-img {
  justify-self: center;
  height: 12rem;
  width: auto;
  overflow: hidden;
} */

button {
  position: relative;
  background-color: red;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: white;
  font-size: 18px;
  font-family: cursive;
  justify-self: center;

}

.delete-btn {
  margin-top: 8px;
  right: -38%;
}

button:hover {
  background-color: green;
  border: #e04b52 solid 1px;
  color: white;
}

.form-title {
    font-family: cursive;
    font-size: 30px
}

#songs {
    background-color: red;
    color: white;
    font-size: medium;
}
#imgs {
  background-color: green;
  color: white;
  font-size: medium;
}
.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 80%;
  font-family: cursive;
  font-size: 18px;
  margin: 3px;
}
.add-meme-form {
  font-size: x-large;
  padding: 20px;
  position: absolute;
  right: 33%;
  text-align: center;
  font-family: cursive;
  background-color: white;
  border-radius: 3%;
  height: 35%;
  margin-top: 1%;
  margin-bottom: 5%
}

#meme-container {
  margin: 26px 61px 61px 61px;
}


.image>.top-center {
    align-self: start;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: impact;
}

.image>.bottom-center {
  align-self: end;
  color: wheat;
  padding: 0px;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: impact;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.ui.cards>.card {
  overflow: hidden;
  margin: 30px 93px 46px 51px;
  width: 450px;
  height: 470px;
}

.ui.cards>.card>.image {
  overflow: hidden;
  width: 450px;
  height: 400px;
  display: grid;
  grid-template-rows: 1% 50% 45%;
}
#meme-name {
  text-align: center;
  font-size: large;
  font-family: cursive;
  margin-top: 2%;
}
/* #meme-name{
  font-size: x-large;
  text-align: center;
  margin: -4rem;
  color: green;
} */
